/* Header */

body {
    font-family: 'Poppins', sans-serif;
}
.header-img {
    max-width: 1366px;
    width: 100%;
}
.header-block {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1118px;
    width: 100%;
    padding: 0 15px;
}
.logo-nav-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 96px;
}
.logo-link {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.burger-bar {
    display: none;
    color: #fff;
}
.navigation {
    min-width: 570px;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.nav-link.active {
    color: #5863F8;
}
.angle-icon {
    color: #fff;
    margin-left: 6px;
}
.top-block {
    margin-bottom: 14px;
}
.page-name {
    font-size: 42px;
    font-weight: 800;
    color: #fff;
}
.bottom-block {
    display: flex;
}
.bottom-block-title {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.bottom-block img {
    margin-left: 14.5px;
    margin-right: 16.5px; 
}


/* First section */

.first-section {
    margin-top: 50px;
}

/* Map */

.section-block {
    max-width: 1118px;
    margin: 0 auto;
    padding: 0 15px;
}
.map {
    max-width: 1088px;
    width: 100%;
    height: 286px;
}
.map-relative-block {
    position: relative;
}
.map-relative-block:hover .map-dark-theme  {
    display: none;
}
.map-dark-theme {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}


/* Form */

.form-block {
    max-width: 1118px;
    margin: 0 auto;
    margin-top: 56px;
}
.section-title {
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}
.section-subtitle {
    font-size: 42px;
    font-weight: 800;
    color: #000;
    line-height: 56px;
}
.subtitle1 {
    max-width: 378px;
}
.subtitle2 {
    max-width: 565px;
}

/* Input */

.contact-input-block {
    display: flex;
    justify-content: space-between;
}
.description-area {
    max-width: 720px;
    width: 100%;
    border: 2px solid #E8E8E8;
    padding: 20px;
    margin-right: 16px;
}
.description-area::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #CECECE;
}
.description-area:focus {
    outline: none;
}
.input-block {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
}
.form-input {
    margin-bottom: 16px;
    border: 2px solid #E8E8E8;
    padding: 20px;
}
.form-input::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #CECECE;
}
.form-input:focus {
    outline: none;
}
.form-btn {
    height: 60px;
    background-color: #5863F8;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.send-icon {
    color: #fff;
    margin-left: 10px;
}


/* Contact Info */

.contact-icon-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.first-sec-contact-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5863F8;
    margin-bottom: 15px;
}
.contact-form-icon {
    color: #fff;
}
.contact-info-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-contact-info {
    font-size: 14px;
    font-weight: 500;
    color: #B1B1B1;
}
.margin {
    margin-bottom: 4px;
}

/* Second section */

.second-section {
    margin-top: 90px;
}
.second-sec-subtitle-block {
    max-width: 565px;
    margin-bottom: 50px;
}
.img-block {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



/* Footer */


.footer-block {
    max-width: 1366px;
    background-color: #121212;
    margin: 0 auto;
}
.footer-container {
    max-width: 1118px;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 40px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.description-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.desription-text {
    font-size: 14px;
    font-weight: 500;
    color: #B1B1B1;
    line-height: 21px;
    max-width: 260px;
    width: 100%;
    margin: 20px 0;
}
.social-icons {
    font-size: 35px;
}
.fb {
    color: #3B5998;
}
.twitter {
    color: #55ACEE;
    margin-left: 10px;
    margin-right: 10px;
}
.google-plus {
    color: #DC4E41;
}
.footer-info {
    max-width: 566px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-block-heading {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
.footer-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.footer-list-link {
    font-size: 14px;
    font-weight: 500;
    color: #5863F8;
}
.footer-contact-info-block {
    max-width: 260px;
    width: 100%;
}
.mail-block {
    margin-bottom: 20px;
}
.phone-block {
    margin-bottom: 20px;
}
.contact-info {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.contact-icon {
    color: #5863F8;
    margin-right: 10px;
}
.copyright-content {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.copyright-text {
    font-size: 14px;
    font-weight: 500;
    color: #B1B1B1;
}
.footer-span {
    color: #5863F8;
}